h1 {
    color: white;
    font-size: 25;
    font-weight: lighter;
    line-height: 1.1;
    
}

div {
    background-color: #09277b;
    margin: auto;
    width: auto;
    padding: 10px;
    justify-content: center;
}