<div>
    <h1><em>Aforo de gimnasio</em></h1>
    <table>
        <tr>
            <td>
                <app-bienvenida></app-bienvenida>
            </td>
            <td>
                <app-estado></app-estado>
            </td>
            <td>
                <app-estimaciones></app-estimaciones>
            </td>
        </tr>
        <tr>
            <td>
                <app-grafica-aforo></app-grafica-aforo>
            </td>
            <td>
            </td>
            <td>
                <app-esta-semana></app-esta-semana>
            </td>
        </tr>
    </table>
</div>